<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_name %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :client_country %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :client_city %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :client_address %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :client_postal_code %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :client_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :client_phone %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, id: :client_details %>
  </div>

  <div class="field">
    <%= form.label :vehicle_registration_plate %>
    <%= form.text_field :vehicle_registration_plate, id: :client_vehicle_registration_plate %>
  </div>

  <div class="field">
    <%= form.label :vehicle_brand %>
    <%= form.text_field :vehicle_brand, id: :client_vehicle_brand %>
  </div>

  <div class="field">
    <%= form.label :vehicle_model %>
    <%= form.text_field :vehicle_model, id: :client_vehicle_model %>
  </div>

  <div class="field">
    <%= form.label :vehicle_model_details %>
    <%= form.text_area :vehicle_model_details, id: :client_vehicle_model_details %>
  </div>

  <div class="field">
    <%= form.label :vehicle_life_cycle %>
    <%= form.text_area :vehicle_life_cycle, id: :client_vehicle_life_cycle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
