<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Address</th>
      <th>Postal code</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Details</th>
      <th>Vehicle registration plate</th>
      <th>Vehicle brand</th>
      <th>Vehicle model</th>
      <th>Vehicle model details</th>
      <th>Vehicle life cycle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.country %></td>
        <td><%= client.city %></td>
        <td><%= client.address %></td>
        <td><%= client.postal_code %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.details %></td>
        <td><%= client.vehicle_registration_plate %></td>
        <td><%= client.vehicle_brand %></td>
        <td><%= client.vehicle_model %></td>
        <td><%= client.vehicle_model_details %></td>
        <td><%= client.vehicle_life_cycle %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
