<% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
  <tr>
  <% end %>
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.name %></td>
  <td class="price"><%= number_to_currency(line_item.total_price, :unit => "€") %></td>
</tr>
